body, .main-container {
  min-width: 298.592px; }

.main-container {
  max-width: 298.592px; }

@media (min-width: 298.592px) {
  .main-container {
    max-width: 298.592px; } }
@media (min-width: 308.224px) {
  .main-container {
    max-width: 308.224px; } }
@media (min-width: 317.856px) {
  .main-container {
    max-width: 317.856px; } }
@media (min-width: 327.488px) {
  .main-container {
    max-width: 327.488px; } }
@media (min-width: 337.12px) {
  .main-container {
    max-width: 337.12px; } }
@media (min-width: 346.752px) {
  .main-container {
    max-width: 346.752px; } }
@media (min-width: 356.384px) {
  .main-container {
    max-width: 356.384px; } }
@media (min-width: 366.016px) {
  .main-container {
    max-width: 366.016px; } }
@media (min-width: 375.648px) {
  .main-container {
    max-width: 375.648px; } }
@media (min-width: 385.28px) {
  .main-container {
    max-width: 385.28px; } }
@media (min-width: 394.912px) {
  .main-container {
    max-width: 394.912px; } }
@media (min-width: 404.544px) {
  .main-container {
    max-width: 404.544px; } }
@media (min-width: 414.176px) {
  .main-container {
    max-width: 414.176px; } }
@media (min-width: 423.808px) {
  .main-container {
    max-width: 423.808px; } }
@media (min-width: 433.44px) {
  .main-container {
    max-width: 433.44px; } }
@media (min-width: 443.072px) {
  .main-container {
    max-width: 443.072px; } }
@media (min-width: 452.704px) {
  .main-container {
    max-width: 452.704px; } }
@media (min-width: 462.336px) {
  .main-container {
    max-width: 462.336px; } }
@media (min-width: 471.968px) {
  .main-container {
    max-width: 471.968px; } }
@media (min-width: 491.232px) {
  .main-container {
    max-width: 491.232px; } }
@media (min-width: 500.864px) {
  .main-container {
    max-width: 500.864px; } }
@media (min-width: 510.496px) {
  .main-container {
    max-width: 510.496px; } }
@media (min-width: 520.128px) {
  .main-container {
    max-width: 520.128px; } }
@media (min-width: 529.76px) {
  .main-container {
    max-width: 529.76px; } }
@media (min-width: 539.392px) {
  .main-container {
    max-width: 539.392px; } }
@media (min-width: 549.024px) {
  .main-container {
    max-width: 549.024px; } }
@media (min-width: 558.656px) {
  .main-container {
    max-width: 558.656px; } }
@media (min-width: 568.288px) {
  .main-container {
    max-width: 568.288px; } }
@media (min-width: 577.92px) {
  .main-container {
    max-width: 577.92px; } }
@media (min-width: 587.552px) {
  .main-container {
    max-width: 587.552px; } }
@media (min-width: 597.184px) {
  .main-container {
    max-width: 597.184px; } }
@media (min-width: 606.816px) {
  .main-container {
    max-width: 606.816px; } }
@media (min-width: 616.448px) {
  .main-container {
    max-width: 616.448px; } }
@media (min-width: 626.08px) {
  .main-container {
    max-width: 626.08px; } }
@media (min-width: 635.712px) {
  .main-container {
    max-width: 635.712px; } }
@media (min-width: 645.344px) {
  .main-container {
    max-width: 645.344px; } }
@media (min-width: 654.976px) {
  .main-container {
    max-width: 654.976px; } }
@media (min-width: 664.608px) {
  .main-container {
    max-width: 664.608px; } }
@media (min-width: 674.24px) {
  .main-container {
    max-width: 674.24px; } }
@media (min-width: 693.504px) {
  .main-container {
    max-width: 683.872px; } }
@media (min-width: 712.768px) {
  .main-container {
    max-width: 693.504px; } }
@media (min-width: 732.032px) {
  .main-container {
    max-width: 703.136px; } }
@media (min-width: 751.296px) {
  .main-container {
    max-width: 712.768px; } }
@media (min-width: 770.56px) {
  .main-container {
    max-width: 722.4px; } }
@media (min-width: 789.824px) {
  .main-container {
    max-width: 732.032px; } }
@media (min-width: 809.088px) {
  .main-container {
    max-width: 741.664px; } }
@media (min-width: 828.352px) {
  .main-container {
    max-width: 751.296px; } }
@media (min-width: 847.616px) {
  .main-container {
    max-width: 760.928px; } }
@media (min-width: 886.144px) {
  .main-container {
    max-width: 780.192px; } }
@media (min-width: 905.408px) {
  .main-container {
    max-width: 789.824px; } }
@media (min-width: 924.672px) {
  .main-container {
    max-width: 799.456px; } }
@media (min-width: 943.936px) {
  .main-container {
    max-width: 809.088px; } }
@media (min-width: 963.2px) {
  .main-container {
    max-width: 818.72px; } }
@media (min-width: 982.464px) {
  .main-container {
    max-width: 828.352px; } }
@media (min-width: 1001.728px) {
  .main-container {
    max-width: 837.984px; } }
@media (min-width: 1020.992px) {
  .main-container {
    max-width: 847.616px; } }
@media (min-width: 1040.256px) {
  .main-container {
    max-width: 857.248px; } }
@media (min-width: 1059.52px) {
  .main-container {
    max-width: 866.88px; } }
@media (min-width: 1069.152px) {
  .main-container {
    max-width: 876.512px; } }
@media (min-width: 1078.784px) {
  .main-container {
    max-width: 886.144px; } }
@media (min-width: 1088.416px) {
  .main-container {
    max-width: 895.776px; } }
@media (min-width: 1098.048px) {
  .main-container {
    max-width: 905.408px; } }
@media (min-width: 1107.68px) {
  .main-container {
    max-width: 915.04px; } }
@media (min-width: 1117.312px) {
  .main-container {
    max-width: 924.672px; } }
@media (min-width: 1126.944px) {
  .main-container {
    max-width: 934.304px; } }
@media (min-width: 1136.576px) {
  .main-container {
    max-width: 943.936px; } }
@media (min-width: 1146.208px) {
  .main-container {
    max-width: 953.568px; } }
@media (min-width: 1165.472px) {
  .main-container {
    max-width: 972.832px; } }
@media (min-width: 1175.104px) {
  .main-container {
    max-width: 982.464px; } }
@media (min-width: 1184.736px) {
  .main-container {
    max-width: 992.096px; } }
@media (min-width: 1194.368px) {
  .main-container {
    max-width: 1001.728px; } }
@media (min-width: 1204px) {
  .main-container {
    max-width: 1011.36px; } }
@media (min-width: 1213.632px) {
  .main-container {
    max-width: 1020.992px; } }
@media (min-width: 1223.264px) {
  .main-container {
    max-width: 1030.624px; } }
@media (min-width: 1232.896px) {
  .main-container {
    max-width: 1040.256px; } }
@media (min-width: 1242.528px) {
  .main-container {
    max-width: 1049.888px; } }
@media (min-width: 1252.16px) {
  .main-container {
    max-width: 1059.52px; } }

/*# sourceMappingURL=pagewidth.css.map */
