
@font-face {
    font-family: "Bitstream Vera Sans Mono Local";
    src: url(../fonts/VeraMono.woff);
    font-weight: normal;
}

@font-face {
    font-family: "Bitstream Vera Sans Mono Local";
    src: url(../fonts/VeraMono-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: "Commodore Rounded";
    src: url(../fonts/Commodore_Rounded_v1.2.woff);
    font-weight: bold;
}


body {
    font-size: 16px;
    line-height: 1.25;
    font-family: "Commodore Rounded", "Bitstream Vera Sans Mono Local", "Bitstream Vera Sans Mono", monospace;
}

span.log {
    display: block;
}

p {
    margin-bottom: var(--char-height);
}

.log:not(.info) em {
    font-weight: bold;
}

.log:not(.info) em::before {
    content: '*';
}

.log:not(.info) em::after {
    content: '*';
}

h1 {
    margin-bottom: var(--char-height);
}

.log, label.error, .has-log p {
    --log-before: calc(var(--char-width) * 22);
    margin-left: var(--log-before);
}

.has-log p .log {
    margin-left: 0;
}

label.error {
    --log-before: calc(var(--char-width) * 20);
}

.log::before, label.error::before {
    position: absolute;
    margin-left: calc(-1 * var(--log-before));
    content: attr(data-time);
}


.log.info::before {
    content: attr(data-time)' INFO';
}

.log.warning::before {
    content: attr(data-time)' WARNING';
    margin-right: 1.2em;
}

.log.emphasis::before {
    content: attr(data-time)' EMPHASIS';
    margin-right: .6em;
}

.log.tagline::before {
    content: attr(data-time)' TAGLINE';
    margin-right: .6em;
}

.log.solution::before {
    content: attr(data-time)' SOLUTION';
    margin-right: .6em;
}

.log.error::before, label.error::before {
    content: attr(data-time)' ERROR';
    margin-right: 2.4em;
}

.log.action::before {
    content: attr(data-time)' ACTION';
    margin-right: .6em;
}

@media (max-width: 650px) {
    .log, label.error, .has-log p {
        margin-left: 0;
    }
    .log.log::before, label.label.error::before {
        position: static;
        margin-left: 0;
        margin-right: var(--char-width);
    }
}

